streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai

# uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2
pytube==15.0.0
streamlit==1.33.0
youtube-transcript-api==0.6.2
langchain-community
